html{
    font-family: 'Montserrat', Playfair, sans-serif ;
}

body{ 
    background-color: #0C181D;
}

header{
    font-family: 'playfair', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    /* background-color: #b7ac49; */
    color: #b7ac49;
    font-size: 10rem;
    padding: 1rem;
    padding-left: 2rem;
        display: Flex;
        justify-content:center;
        align-items: center;
    margin-bottom: 10rem;
    margin-top: 5rem;

        

}

a { 
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff7eb;
    font-family: 'Montserrat', serif;  
    font-weight: 200;  
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: Flex;
    justify-content:end;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    
}


a:hover{
    background-color:#fff7eb5c;
    border-radius: 0.5rem;
}

.gallery-page{
    background-color: #fff7eb;
    color: #0C181D;

}



.Home-button{
    color: #0C181D; 
    font-family: 'Montserrat';
    margin: 2rem;
    margin-bottom: 5rem;

    
}

.Home-button:hover{
    background-color: #bd4c0f86;
    color: #fff7eb;
    

}

.about-page { 
    background-color: #fff7eb;
    text-align: justify;
    margin: 2.5rem;
}

h1{ 
    font-size: 2.5rem;
    font-family: 'Montserrat' ;
    color: #BD4C0F;
    text-align: center;
    padding: 2rem;
    /* background-color: #BD4C0F;
    border-radius: 1.5rem; */
    margin-bottom: 5rem;
    /* margin-left: 10rem;
    margin-right: 10rem; */
}
    /* max-width: fit-content; */
h2{
     font-size: 2.5rem;
    font-family: 'Montserrat' ;
    color: #BD4C0F;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;

}
    



.Welcome{ 
    font-size: 1.3rem;
    font-family: 'Montserrat' ;
    color: #fff7eb;
    text-align: center;
    padding: 2rem;
}



p{
    font-size: 1rem;
    font-family: 'Montserrat' ;
    color:#0C181D;
    padding: 2rem;
}


/* .Postcards-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin-left: 8rem;
} */


.poster-container{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin-left: 8rem;
    margin-bottom: 2rem;
}










/* CAROUSEL ANIMATION */

.carousel{
    margin: 100px auto;
    width: 95%;
    /* border: 5px solid #BD4C0F; */
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    height: 1000px;
}

.carousel::-webkit-scrollbar{
    display: none;
}


.Postcards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: vertical-scroll 20s infinite linear;
    padding-right: 2rem;
}

.card{
    flex: 0 0 auto;
    width: 80%;
    max-width: 420px;
    
}

/* @keyframes spin {
    from {translate: 0%;}
    to {translate: -100%;}
} */


@keyframes vertical-scroll {
    from { transform: translateY(0%); }
    to   { transform: translateY(-100%); } /* move up by the full content height */
}


/* .Arabic-typo{
    background: #0C181D;
    padding: 2rem;
    padding-bottom: 5rem;
    
} */