html{
    font-family: 'Montserrat', Playfair, sans-serif ;
}

body{ 
    background-color: #0C181D;
}

.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-header{
    font-family: 'Oi', 'Playfair', sans-serif;
    font-weight: 400;
    color: #b7ac49;
    font-size: 10rem;

    display: Flex;
    justify-content:center;
    align-items: center;

    padding: 1rem;
    margin-bottom: 2rem ;
}

a { 
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff7eb;
    font-family: 'Montserrat', serif;  
    font-weight: 200;  
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: Flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    margin-top: 2rem ;    
}


a:hover{
    background-color:#fff7eb5c;
    border-radius: 0.5rem;

}

/* HERO FIGURE AND SPEECH BUBBLE */
.hero-figure {
  position: relative; 
/* relative is the reference point for positioning child elements */
}

.hero-image{
    width: 35%;
    display: block;
    margin-right: auto;
    margin-top: 3rem;
    position: absolute;
    cursor: pointer;
    bottom: auto;
}

.speech-bubble{
    font-size: 2rem;
    font-family: 'montserrat', serif;
    color: #0C181D;
    text-align: center;

    width: 15rem;
    padding: 1rem;
    background-color: #fff7eb;
    border-radius: 1rem;

    position: absolute;
    left: 22rem;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.hero-figure:hover .speech-bubble{
    opacity: 1;
    transform: opacity 0.3s ease;  
}

.speech-bubble::after {
  content: "";
  position: absolute;

  bottom: -8px;
  left: 20px;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff7eb;
}



/* RESPONSIVE DESIGN FOR INDEX/HOME PAGE */

@media (max-width: 1250px){
    .portfolio-header{
        font-size: 6rem;
    }

    nav{
        margin-top: 1rem ;
        padding: 2rem;
        gap: 3rem;
    }
}


@media (max-width: 900px) {
    
    nav{
        flex-direction: column;
        align-items: center;
        order: 2;  /* order is to change the display order of the header and the nav so that the nav appears below the header */
        margin-top: -4rem;
        gap: 1.5rem;
    }
    
    .portfolio-header{ 
        font-size: 3rem;
        order: 1;
        margin-top: 3rem; 
        
    }

   .top-section{
        align-items: center;
        justify-content: center;
    }

    .hero-image{
        width: 50%;
        margin-top: 5rem;
        justify-content: flex-end
    }

    .speech-bubble{
        font-size: 0.8rem;
        width: 10rem;
        left: 8rem;
        padding: 0.5rem;
    }

    .hero-image{
        align-items: flex-end;
    }

}



/* GALLERY PAGE */
.gallery-page{
    background-color: #fff7eb;
    color: #0C181D;

}

.Home-button{
    color: #0C181D; 
    font-family: 'Montserrat';
    margin: 2rem;
    margin-bottom: 15rem;
    margin-top: 15rem;

    
}

.Home-button:hover{
    background-color: #bd4c0f86;
    color: #fff7eb;
}

/* GALLERY PAGE */
/* i need to figure out how to fix the spacing in general and for the breakpoints */

.gallery-header{
    font-family: 'Oi', 'Playfair', sans-serif;
    font-weight: 400;
    color: #b7ac49;
    font-size: 7rem;

    display: Flex;
    justify-content:center;
    align-items: center;

    padding: 2rem;
    margin: 2rem ;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 5rem;
    margin-left: 8rem;    
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}



@media (max-width: 900px) {
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
        margin-right: 2rem;
    }
}

@media (max-width: 500px) {
    .gallery-container{
        grid-template-columns: 1fr;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .gallery-header{
        font-size: 3rem;
    }
}


/* ABOUT PAGE */

.hello-header{ 
    font-family: 'Oi', 'Playfair', sans-serif;
    font-weight: 400;
    color: #b7ac49;
    font-size: 5rem;

    display: Flex;
    justify-content:center;
    align-items: center;

    padding-top: 3.5rem;

}

.about-page { 
    background-color: #fff7eb;
    text-align: justify;
}

.about-container{
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
    align-items: center;
    justify-items: center;

}

.about-content {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;

}

.about-image{
    max-width: 55%;
    padding-left: 2rem;

}

.about-header{
    font-size: 2.5rem;
    font-family: 'Oi', 'Playfair', sans-serif;
    color: #BD4C0F;
    white-space: nowrap;
    padding-top: 0;
}


p{
    font-size: 1rem;
    font-family: 'Montserrat', serif;
    color:#0C181D;
    line-height: 1.6rem;
    max-width: 31rem;
}

.intro{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Montserrat' ;
    color: #BD4C0F;
    text-align: center;
    margin-bottom: 5rem;
}

/* ABOUT PAGE RESPONSIVE DESIGN */
@media (max-width: 1250px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 5rem;
        margin: auto;
    }

    .about-image{
        max-width: 50%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }

    .about-content {
        padding-right: 0;
        
    }

    .hello-header{
        font-size: 4rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 900px) {
    .hello-header{
        font-size: 3rem;
        justify-content: center;
        align-items: center;
    }

    .about-content{
        padding: 1.5rem;
    }


}

/* SECTION FOR CONTACT */
h2.contact-info{ 
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Montserrat' ;
    color: #fff7eb;
    text-align: center;
    padding: 1.5rem;
    background-color: #b7ac49;
    border-radius: 1.3rem;
    margin: 0 25rem 5rem 25rem;
}

.contact-header{
  font-family: 'Oi', 'Playfair', sans-serif;
    font-weight: 400;
    color: #b7ac49;
    font-size: 5rem;

    display: Flex;
    justify-content:center;
    align-items: center;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

    

/* CONTACT SECTION RESPONSIVE DESIGN */
@media (max-width: 1250px) {
    h2.contact-info{
        font-size: 1;
        min-width: 15rem ;
        margin: 0;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
    }

    .contact-header{
        font-size: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;
    }
}

@media (max-width: 900px) {

    .contact-header{
        font-size: 3rem;
    
    }
}








.menu-icon{
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    fill: #0C181D;
}
