html{
    font-family: 'Montserrat', Playfair, sans-serif ;
}

body{ 
    background-color: #0C181D;
}

.top-section{
    display: flex;
    flex-direction: column;
}

.portfolio-header{
    font-family: 'Oi', 'Playfair', sans-serif;
    font-weight: 400;
    color: #b7ac49;
    font-size: 10rem;

    display: Flex;
    justify-content:center;
    align-items: center;

    padding: 1rem;
    margin-bottom: 2rem ;
    

}

a { 
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff7eb;
    font-family: 'Montserrat', serif;  
    font-weight: 200;  
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav{
    display: Flex;
    justify-content:end;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem;
    margin-top: 2rem ;    
}


a:hover{
    background-color:#fff7eb5c;
    border-radius: 0.5rem;
}

.gallery-page{
    background-color: #fff7eb;
    color: #0C181D;

}



.Home-button{
    color: #0C181D; 
    font-family: 'Montserrat';
    margin: 2rem;
    margin-bottom: 5rem;

    
}

.Home-button:hover{
    background-color: #bd4c0f86;
    color: #fff7eb;
    

}


/* ABOUT PAGE */
.about-page { 
    background-color: #fff7eb;
    text-align: justify;
    margin: 2.5rem;
}

.about-container{
    display: flex;
    border: #0C181D solid 2px;
    margin: 10rem;
}

.about-image{
    width: 30%;
    margin-right: 2rem;
}

.about-header{
    font-size: 2.5rem;
    font-family: 'Oi', 'Montserrat', sans-serif; ;
    color: #BD4C0F;
    padding: 2rem;
    margin-bottom: 5rem;

    justify-content: flex-end;
}


p{
    font-size: 1rem;
    font-family: 'Montserrat' ;
    color:#0C181D;
    padding: 1rem;
    
}


h1{ 
    font-size: 2.5rem;
    font-family: 'Montserrat' ;
    color: #BD4C0F;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

h2{
     font-size: 2.5rem;
    font-family: 'Montserrat' ;
    color: #BD4C0F;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
    


/* .Postcards-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin-left: 8rem;
} */


.poster-container{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    gap: 3rem;
    justify-content: center;
    margin-left: 8rem;
    margin-bottom: 2rem;
}










/* CAROUSEL ANIMATION */

.carousel{
    margin: 100px auto;
    width: 95%;
    /* border: 5px solid #BD4C0F; */
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    height: 1000px;
}

.carousel::-webkit-scrollbar{
    display: none;
}


.Postcards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    animation: vertical-scroll 20s infinite linear;
    padding-right: 2rem;
}

.card{
    flex: 0 0 auto;
    width: 80%;
    max-width: 420px;
    
}

/* @keyframes spin {
    from {translate: 0%;}
    to {translate: -100%;}
} */


@keyframes vertical-scroll {
    from { transform: translateY(0%); }
    to   { transform: translateY(-100%); } 
}


/* .Arabic-typo{
    background: #0C181D;
    padding: 2rem;
    padding-bottom: 5rem;
    
} */



/* RESPONSIVE DESIGN */

@media (max-width: 768px) {
    
    nav{
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    header{ 
        font-size: 5rem;
        order: 1; 
    }
}




/* HERO FIGURE AND SPEECH BUBBLE */
.hero-figure {
  position: relative; 
  /* relative is the reference point for positioning child elements */

}

.hero-image{
    width: 35%;
    display: block;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: -1rem;
    position: absolute;
}


.speech-bubble {
  position: absolute;

  left: 400px;   /* distance from left (image width-ish) */
  bottom: -70px; /* distance up from bottom */

  background: white;
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 14px;
}

.speech-bubble::after {
  content: "";
  position: absolute;

  bottom: -8px;
  left: 20px;

  width: 0;
  height: 0;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}